<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.webServer>        
        <rewrite>
            <rules>
                <!-- <rule name="testRedirect" stopProcessing="true">
                    <match url="(.*)"/>
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="^smpapp.ticket-cinemasunshine.com" />
                    </conditions>
                    <action type="Redirect" url="http://sskts-ticket-test.azurewebsites.net/{R:1}" redirectType="Permanent" />
                </rule> -->

                <rule name="HTTP2HTTPS" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTPS}" pattern="off" ignoreCase="true" />
                    </conditions>
                    <action type="Redirect" redirectType="Found" url="https://{HTTP_HOST}/{R:1}" />
                </rule>
               
            </rules>
        </rewrite>

        <!-- Make sure error responses are left untouched -->
        <httpErrors existingResponse="PassThrough" />

        <!-- <iisnode
            configOverrides="iisnode.yml"
         /> -->
    </system.webServer>
</configuration>