<div class="contents bg-01">
    <div class="inner">
        <p class="read mb-middle small-text">
            このアプリはシネマサンシャイン公式のチケット購入アプリです。
            <br> このアプリを使うことで、シネマサンシャインの映画鑑賞がもっと便利になります。
        </p>
        <div class="mb-middle">
            <div class="text-center mb-middle">
                <img src="/assets/images/about/purchase_smartly.svg" width="230" height="150">
            </div>
            <p class="small-text">
                一度このアプリ内でチケットをご購入いただきますとお客様情報が記録され、次回以降は入力が不要になります。※1
                <br> ※1・スマホ紛失時などの際の安全を考慮し、クレジットカード情報は記録されません。
            </p>
        </div>
        <div class="mb-middle">
            <h2 class="mb-small text-center">スマホがそのまま入場券に！</h2>
            <p class="mb-middle small-text">
                購入したチケットはこのアプリ内のチケットホルダー内に登録されます。
                <br> ご鑑賞当日は、チケットホルダー内のQRコードをスマホ画面に表示してシアター入口でスタッフにご提示いただくだけで、ご入場いただけます。発券は不要です。
            </p>
            <div class="text-center">
                <img src="/assets/images/about/app_ticket.svg" width="211" height="150">
            </div>
        </div>
    </div>
</div>