.icon-new-tab-white {
    &:before {
        content: '';
        position: absolute;
        top: 50%;
        right: 20px;
        background-image: url(/images/common/icon/icon_new_tab_white.svg);
        background-size: contain;
        width: 15px;
        height: 15px;
        margin-top: -7.5px;
    }
}

.icon-new-tab-blue {
    &:before {
        content: '';
        position: absolute;
        top: 50%;
        right: 20px;
        background-image: url(/images/common/icon/icon_new_tab_blue.svg);
        background-size: 15px;
        width: 15px;
        height: 15px;
        margin-top: -7.5px;
    }
}

.icon-next-white {
    &:before {
        content: '';
        position: absolute;
        top: 50%;
        right: 20px;
        background-image: url(/images/common/icon/icon_next_white.svg);
        background-size: 15px;
        width: 15px;
        height: 15px;
        margin-top: -7.5px;
    }
}

.icon-print-white {
    &:before {
        content: '';
        position: absolute;
        top: 50%;
        right: 20px;
        background-image: url(/images/common/icon/icon_print_white.svg);
        background-size: 15px;
        width: 15px;
        height: 15px;
        margin-top: -7.5px;
    }
}

.icon-prev-white {
    &:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 20px;
        background-image: url(/images/common/icon/icon_next_white.svg);
        background-size: 15px;
        width: 15px;
        height: 15px;
        margin-top: -7.5px;
        transform: rotate(-180deg);
    }
}

.icon-prev-black {
    &:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        background-image: url(/images/common/icon/icon_prev_black.svg);
        background-size: 15px;
        width: 15px;
        height: 15px;
        margin-top: -7.5px;
    }
}

.icon-close-black {
    &:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        background-image: url(/images/common/icon/icon_close_black.svg);
        background-size: 15px;
        width: 15px;
        height: 15px;
        margin-top: -7.5px;
    }
}

.icon-add-white {
    &:before {
        content: '';
        position: absolute;
        top: 50%;
        right: 20px;
        background-image: url(/images/common/icon/icon_add_white.svg);
        background-size: 15px;
        width: 15px;
        height: 15px;
        margin-top: -7.5px;
    }
}

.icon-ticket-black {
    &:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 20px;
        background-image: url(/images/common/icon/icon_ticket_black.svg);
        background-size: 25px 15px;
        width: 25px;
        height: 15px;
        margin-top: -7.5px;
    }
}

.icon-zoom-in {
    &:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 20px;
        background-image: url(/images/common/icon/icon_zoom_in.svg);
        background-size: 15px 15px;
        width: 15px;
        height: 15px;
        margin-top: -7.5px;
    }
}

.icon-zoom-out {
    &:before {
        content: '';
        position: absolute;
        top: 10px;
        left: 50%;
        background-image: url(/images/common/icon/icon_zoom_out.svg);
        background-size: 15px 15px;
        width: 15px;
        height: 15px;
        margin-left: -7.5px;
    }
}