.inner {
    background-color: #EEE;
    color: #333;
}
.info {
    dl {
        border-bottom: 1px solid #AAA;
        display: flex;
        align-items: center;
        padding: 15px 0;
        dt {
            width: 40px;
            text-align: center;
            &:before {
                margin: 0 auto;
            }
        }
        dd {
            width: calc(100% - 40px);
            line-height: 1.6;
            padding-right: 10px;
        }
    }
}
.details {
    app-ticket-detail {
        &:last-child {
            border-bottom: none;
        }
    }
}