:host {
    background-color: #FFF;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #AAA;
    position: relative;
}
.ticket-info {
    text-align: center;
    width: calc(100% - 140px);
    .index {
        position: absolute;
        top: 10px;
        left: 10px;
        color: #BCBCBC;
    }
}
.qr, .not-qr {
    padding: 20px;
    background-color: #EEE;
    .inner {
        min-height: 100px;
        width: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
.qr {
    img {
        display: block;
        padding: 10px;
        background-color: #FFF;
    }
}